<% layout("/layouts/boilerplate.ejs")%>
<body>
<h2>All Listings</h2>
<!-- <form method="GET" action="/listings/new">
    <button type="submit">Create New Listing</button> -->
<!-- </form> -->
 <div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-1">
<% for(let listing of allListings) { %>
    <a href="/listings/<%= listing._id %>" class="listing-link">
    <div class="card col" style="width: 20rem;">
        <img src="<%= listing.image.url%>" class="card-img-top" alt="listings_image" style="height:20rem">
        <div class="card-img-overlay"></div>
        <div class="card-body">
          <p class="card-text">
            <b><p><%= listing.title%></b><br>
                <p>&#8377;<%= listing.price.toLocaleString("en-IN")%> /Per Night</p>
            </p>
          </p>
        </div>
      </div>
    </a>
<% } %>
</div>
<!-- <ul>
    <% for(let listing of allListings) { %>
        <li><a href="/listings/<%= listing._id %>"><%= listing.title %></a></li>
    <% } %>
</ul> -->
</body>
 